.modal {
  .modal-content {
    background-color: #1e1e1e;

    .modal-header {
      border: none;

      .btn-close:hover {
        background-color: #2d2d2d;
      }
    }

    .modal-body {
      input {
        border: 0px;
        border-radius: none;
        border-bottom: 2px solid rgb(255, 254, 254);
        font-size: 1.2rem;
        background-color: transparent;
        @media (max-width: 991px) {
          padding: 0.9rem 0.6rem 0.3rem;
          font-size: 1.3rem;
        }
        &:placeholder {
          color: rgb(157, 157, 157);
          font-weight: normal;
        }
      }
    }

    .modal-footer {
      border: none;

      .btn-primary {
        background-color: #16883e;
        border: 1px solid #16883e;
      }
    }
  }
}

.toast-container {
  margin-top: 2rem;
  margin-left: 2rem;
  .toast {
    .toast-header {
      background-color: rgba(0, 0, 0, 0.437);
    }

    .toast-body{
        background-color: #16883eb7;

        a{
            color: #0750af;
        }
    }
  }
}
