*{
    color: azure;
}
body{
    // background: url("../../img/cool-background.svg");
    // background-size: cover;
    background-color: #121212;
    // 1db954
}

.bckgradient{
    z-index: -1;
    height: 15rem;
    width: 100%;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, #121212 20%, rgb(53, 52, 52) 100%);
    position: absolute;
}